@(lookForm: Form[LookFor])

@import helper._

@model.model_search("搜索") {
    <style>
        .div1 {
            width: 100%;
            height: 14em;
            margin: 0 auto;
            padding: 0;
            background-image:url(@routes.Assets.at("images/search_bg.jpg"));
            background-size: 100% 100%;
            background-attachment:fixed;
            position: absolute;
         }
    </style>
    <div>
        <ul>
            <li><a href=""></a> </li>
            <li><a href=""></a> </li>
        </ul>
    </div>
    <div class="div1">
        <div class="div2">
            @form(routes.Search.doSearch) {
                <table>
                    <tr>
                        <td>@inputText(lookForm("name"), '_label -> "")</td>
                        <td><input type="submit" value="Search" id="search"></td>
                    </tr>
                </table>
            }
        </div>
    </div>
}