@(lookForm: Form[LookFor])

@import helper._

@model.model_search("搜索") {
    <style>
        .div1 {
            width: 100%;
            height: 14em;
            padding: 0;
            background-image:url(@routes.Assets.at("images/search_bg.jpg"));
            background-size: 100% 100%;
            background-attachment:fixed;
            position: fixed;
            display: block;
            margin-top: 5%;
         }
    </style>
    <div class="ul1">
        <ul >
            <li><a href="@routes.Pictures.search()"><div class="p1">图片</div></a> </li>
            <li><a href="@routes.MV.search()"><div class="p1 p_current">MV</div></a> </li>
        </ul>
    </div>
    <div class="div1">
        <div class="div2">
            @form(routes.MV.doSearch) {
                <table>
                    <tr>
                        <td>@inputText(lookForm("name"), '_label -> "")</td>
                        <td><input type="submit" value="Search" id="search"></td>
                    </tr>
                </table>
            }
        </div>
    </div>

}