@(title: String)(content: Html)(implicit flash: Flash, lang: Lang)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/monkey.png")">
</head>
<body>
    <div class="container">
        @if(flash.get("success").isDefined) {
        <div class="alert alert-success">
            @flash.get("success")
        </div>
        }
        @if(flash.get("error").isDefined) {
        <div class="alert alert-error">
            @flash.get("error")
        </div>
        }
        @content
    </div>
</body>
</html>
