@(songForm: Form[Song])

@import helper._

@model_normal("搜索") {
    <style>
        .btn {
            position: relative;
            display: inline-block;
            padding: 6px 12px;
            font-size: 13px;
            font-weight: bold;
            line-height: 20px;
            color: #333;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            background-color: #EEE;
            background-image: -webkit-linear-gradient(#FCFCFC, #EEE);
            background-image: linear-gradient(#FCFCFC, #EEE);
            background-repeat: repeat-x;
            border: 1px solid #d5d5d5;
            border-radius: 3px;
            user-select: none;
            -webkit-appearance: none;
        }

        .btn:focus,
        input[type=text]:focus,
        input[type=password]:focus {
            text-decoration: none;
            border-color: #51a7e8;
            outline: none;
            box-shadow: 0 0 5px rgba(81, 167, 232, 0.5);
        }

        .btn:hover,
        .btn:active {
            text-decoration: none;
            background-color: #ddd;
            background-image: -webkit-linear-gradient(#eee, #ddd);
            background-image: linear-gradient(#eee, #ddd);
            background-repeat: repeat-x;
            border-color: #ccc;
        }

        .btn:active {
            background-color: #dcdcdc;
            background-image: none;
            border-color: #b5b5b5;
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
        }
        label[for=search] {
            display: block;
            text-align: left;
        }
        #search label {
            font-weight: 200;
            padding: 5px 0;
        }
        #search input[type=text] {
            font-size: 18px;
            width: 705px;
        }
        #search .btn {
            padding: 10px;
            width: 90px;
        }
    </style>
    <form accept-charset="UTF-8" id="search" action="/search/detail" method="post">
        <label for="search">Find code, projects, and people on GitHub:</label>
        <input type="text" name="name">

        <input class="btn" type="submit" value="Search">
    </form>
}